/* .container {
    height: 40vh;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 40%;
    width: 90%;
    background-color: aliceblue;
}

.container2 {
    background-color: rgba(233, 25, 25, 0.774);
    height: 25vh;
    margin-left: 5%;
    width: 90%;
    margin-top: 5%;
} */