#container-card {
  display: flex;
  align-items: center;
  margin-top: .5rem;
}

#container-card.seleccionado {
  background-color: #da4443;
}

/* #card.seleccionado {
  background-color: #da4443;
}  */

#flecha {
  /* position: absolute; */
  height: 1.5rem;
  /* padding-top: 1%; */
  padding-left: 2%;
}

#card {
  display: flex;
  align-items: center;
  background-color: #fceab8;
  border-radius: 25px 5px 5px 25px;
  width: 90%;
  font-size: larger;
  padding-left: 5px;
  margin-left: 3%;
  gap: 1rem;
}

#circle {
  border-radius: 50%;
  height: 30px;
  aspect-ratio: 1;
  background-color: rgba(0, 0, 0, 0.125);
}
