#main {
  display: grid;
  width: 100%;
  grid-template-columns: 10% 50% 40%;
  /* height: 300px; */
  /* 300px / viewport height * 100 */
  height: 40vh;
  /* gap: 5px; Espacio entre columnas */
}

/* #picture {

} */

#card {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: scroll;
}
/* #spinner {
}  */
