#main {
  display: grid;
  width: 100%;
  grid-template-columns: 30% 30% 40%;
  height: 85vh;
  background: linear-gradient(blue, skyblue);
  /* background-color: red; */
  /* height: 300px; */
  /* 300px / viewport height * 100 */
  /* gap: 5px; Espacio entre columnas */
}

#card {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: scroll;
  margin-left: 3%;
}
